:root {
    --primary-color: #1b4965;
    --secondary-color: #62b6cb;
    --accent1-color: #bee9e8;
    --accent2-color: #5fa8d3;
    --body-font: Arial, sans-serif;
    --heading-font: 'Helvetica Neue', sans-serif;
}

/* 2. Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center the logo */
header .logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

/* Body */
body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

/* Layout width */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Heading */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Spacing */
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Navigation */
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Hero */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Hero Title */
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: black;
}

/* Hero Article */
.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Article Image */
.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

/* Footer */
footer {
    text-align: center;
}

/* Socia Media icons */
.socialmedia img {
    width: 30px;
    /* size of icons */
    height: auto;
    margin: 0 8px;
    /* spacing between icons */
    vertical-align: middle;
}

.socialmedia a {
    text-decoration: none;
    /* remove underline */
}